.activityDetailed {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
  width: 100%;
}

.activityDetailedPreview {
  border-radius: 0.5rem 0.5rem 0 0;
  position: relative;
  width: 100%;
}

.activityDetailedPreview > .button {
  background-color: #4692D1;
  border-radius: 0.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.activityDetailedPreview > .button:hover {
  background-color: #135F9E;
}

.activityDetailedPreview > .activityDetailedPicture {
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  width: 100%;
}

.activityDetailedContent {
  padding: 1rem;
}

.activityDetailedTitle {
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
}
