.activity {
  align-items: flex-start;
  background-color:lightgray;
  display: inline-flex;
  flex-basis: 10rem;
  flex-grow: 0;
  margin: 2rem;
  padding: 2rem;
}

.title {
  font-size: 1rem;
  color: black;
}