.activity {
  align-items: flex-start;
  background-color: #F2F2F2;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
  max-height: 26rem;
  margin: 1rem;
  width: 22rem;
}

.content {
  padding: 1rem;
  width: 100%;
}

.description {
  color: #4F4F4F;
  display: -webkit-inline-box;
  font-size: 1rem;
  margin-top: 0.75rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.glimpse {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.storyteller {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 0.75rem;
}

.storyteller > .features {
  color: #828282;
  margin-left: 0.5rem;
  max-width: 15rem;
}

.storyteller > .name {
  color: #4F4F4F;
  margin-left: 0.5rem;
  max-width: 5rem;
}

.storyteller > .name, .features {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.storyteller > .profile {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
}

.title {
  color: #333333;
  font-size: 1.25rem;
  font-weight: bold;
}
