.activity {
  align-items: flex-start;
  background-color: #F2F2F2;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 0;
  max-height: 25rem;
  margin: 1rem;
  width: 22rem;
}

.content {
  padding: 1rem;
}

.description {
  color: #4F4F4F;
  display: -webkit-inline-box;
  font-size: 1rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.glimpse {
  border-radius: 0.5rem 0.5rem 0 0;
}

.storyteller {
  display: flex;
  flex-direction: row;
}

.storyteller > .name, .features {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.storyteller > .name {
  color: #4F4F4F;
  max-width: 5rem;
}

.storyteller > .features {
  color: #828282;
  margin-left: 0.5rem;
  max-width: 15rem;
}

.title {
  color: #333333;
  font-size: 1.25rem;
  font-weight: bold;
}
